@use "sass:math";

$base-rem-size:16px;
@function remove-unit($value) {
 // @return ($value / ($value * 0 + 1));
 	@return math.div($value, $value * 0 + 1);

}
@function rem($px, $base: $base-rem-size) {
	@return (remove-unit(math.div($px, $base))) * 1rem;

}
@mixin remFont($size) {
    $base-rem-size : $size;
    html{ 
        font-size: $base-rem-size;
    }
}

@mixin absolute($l:50%, $t:50%, $r:initial, $b:initial) {
    @if $l==50% and $t==50% {
        transform: translate(-50%, -50%);
    }@else if $l==50% and $t !=50% {
        transform: translateX(-50%);
    }@else if $l !=50% and $t==50% {
        transform: translateY(-50%);
    }

    position:absolute;
    left:$l;
    right:$r;
    top:$t;
    bottom:$b;
}

@mixin dotThree {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

@mixin twoLineDotThree($h){
    overflow: hidden; 
    display:-webkit-box; 
    -webkit-line-clamp:2; 
    -webkit-box-orient:vertical; 
    text-overflow: ellipsis;
    height: $h; 
    white-space:initial;
}

@mixin popupDim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00000060;
}

@mixin customScroll{
    scrollbar-color:  #bcbdc9 #E8EBF5;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width:6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bcbdc9;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
        background-color: #E8EBF5;
    }
}

@mixin textBorder($c, $b:1) {
    $bw: $b+px;
    $minus : calc(-1 * $b)+px;
    text-shadow: $bw $bw 0 $c, $bw $minus 0 $c, $minus $bw 0 $c, $minus $minus 0 $c, $bw 0px 0 $c, 0px $bw 0 $c, $minus 0px 0 $c, 0px $minus 0 $c;
}

@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
    }
}

@mixin tablet_desktop {
    @media (min-width: #{$breakpoint-desktop}) and (max-width: 1440px) {
        @content;
    }
}