$base-rem-size:16px;

$Abril:'Belgiano', sans-serif;
// $Abril:'Abril Fatface', cursive;
// $Abril:'Newsreader', sans-serif;
$Roboto:'Roboto', sans-serif;
$Indie : 'Indie Flower', cursive;
$Dela : 'Dela Gothic One', cursive;

$breakpoint-mobile: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

$pointColor : #e5fc6e
// $pointColor :  #ebfb48;
// $pointColor : #f9e6a1;
// $pointColor :  #f87c56;
