$base-rem-size:16px;

$Abril:'Abril Fatface', cursive;
$Roboto:'Roboto', sans-serif;
$Indie : 'Indie Flower', cursive;
$Dela : 'Dela Gothic One', cursive;

$breakpoint-mobile: 0px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$pointColor :  #ebfb48;
// $pointColor :  #f87c56;
