@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,700;1,6..72,400;1,6..72,600&display=swap');

@font-face {
    font-family: 'Belgiano';
    src: url('../../font/Belgiano_Serif_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body,button,input,textarea{font-family:'Noto Sans Kr', sans-serif;}



// font-family: 'Abril Fatface', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Roboto', sans-serif
// font-family: 'Dela Gothic One', cursive;
// font-family: 'Newsreader', serif;