@use '../abstracts/' as *;


.section_about{
    padding-top: rem(200px); 
    padding-bottom: rem(250px);
    word-break: keep-all;
    .about_con{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: rem(80px);
        margin-top: rem(120px);

        .about_left{
            position: relative;
            flex-grow: 1; 
            p{
                margin-top: rem(50px);
                font-size: 1rem;
                line-height: 1.7;
            }    
        }

        .top_text{
            display: block;
            font-size: rem(100px);
            font-family: $Abril;
            font-weight: 500;
            line-height: 0.9;
            white-space: nowrap;
        }

        .frame{
            position: relative;
            width: MIN(rem(780px), 45%);
            img{
                position: absolute;
                right: 12%;
                top: 5%;
                width: 11.625rem;
                height: auto;
                // height: rem(400px);
                // object-fit: cover;
                // object-position: top;
                background-color: #fff;
                border: 1px solid;
            }
        }

        ul{
            position: relative;
            &:before{
                @include absolute($l:rem(-25px));
                content: '';
                display: inline-block;
                width: 1px;
                height: calc(100% - 2rem);
                background: #000;
            }
            li{
                padding: rem(20px) 0;
                border-bottom: 1px solid #000;

                &:last-of-type{
                    border-bottom: none;
                }

                b{
                    margin-right: rem(20px);
                    font-family: $Abril;
                    font-size: rem(14px);
                    color: #333;
                }
            }
        }
    }
}

@include mobile{
    .section_about{
        padding-top: rem(120px); 
        padding-bottom: rem(130px);
        .about_con{
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: rem(30px);
            margin-top: 0;

            .about_left{
                p{
                    padding: 0 rem(8px);
                    margin-top: rem(30px);
                    font-size: 0.92rem;
                    line-height: 1.5;
                }    
            }

            .top_text{
                font-size: rem(65px);
            }

            .frame{
                width: 100%;
                max-width: rem(500px);
                img{
                    right: rem(20px);
                    width: 7.625rem;
                }
            }

            ul{
                &:before{
                    display: none;
                }
                li{
                    padding: rem(15px) 0;
                    font-size: rem(14px);
                    b{
                        font-size: rem(13px);
                    }
                }
            }
        }
    }
}

@include tablet{
    .section_about{
        .about_con{
            .frame{
                width: 100%;
                max-width: rem(500px);
                img{
                    right: rem(20px);
                    width: 10.625rem;
                }
            }
        }
    }
}