@use '../abstracts' as *;

.section_contact{
  margin-top: rem(300px);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active{
    .bx_contact h2.title_h2:after {
      animation: popSmile .6s .3s forwards;
    }
  }
}

@keyframes popSmile {
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.bx_contact{
  padding: rem(80px);
  width: MIN(900px, calc(100% - 2.5rem));
  box-sizing: border-box;
  text-align: center;

  .title_h2{
    line-height: 0.9;
    text-transform: uppercase;
  }

  h2.title_h2{
    position: relative;
    z-index: 2;
    &:after{
        content: '';
        display: inline-block;
        margin-left: rem(10px);
        width: rem(80px);
        height: rem(80px);
        border-radius: 100%;
        background: url(../../img/ico-smile.png) no-repeat center / 100% $pointColor;
        vertical-align: top;
        transform: scale(0);
      }
  }

  b.title_h2{
    display: block;
    margin-top: rem(-40px);
    font-family: 'Noto Sans KR', sans-serif;
    @include textBorder($c:#000);
    color: #fff;
    mix-blend-mode: darken;

  }
}


.contact_card{
  position: relative;
  margin: rem(-20px) auto 0;
  width: rem(220px);
  height: rem(280px);

  &:after{
    content:'';
    position: absolute;
    right: -5.25rem;
    top: rem(50px);
    width: 4rem;
    height: 3rem;
    background:url(../../img/img_text_hover.png) no-repeat center / 100%;
  }

  & > div{transform: rotate(-3deg);}
  
  .front{
    background: url(../../img/img_contact.jpg) no-repeat center top 0 / cover;
  }
  .back{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:#fff;
    line-height: 1.7;
    font-size: rem(15px);
    color: #222;

    a{display: block; color: #222;}
  }
}

@include mobile{
  .section_contact{
    margin-top: rem(100px);
  }
  .bx_contact{
    padding: rem(60px) rem(20px);

    h2.title_h2{

      &:after{
          width: rem(60px);
          height: rem(60px);
        }
    }

    b.title_h2{
      margin-top: rem(-20px);
      font-size: rem(45px);
      mix-blend-mode:unset;
    }
  }

  .contact_card{
    width: rem(200px);
    height: rem(254px);

    &:after{
      right: -3.25rem;
      width: 3rem;
      height: 2rem;
    }
  
  }


}

@include tablet{
  .bx_contact{
    b.title_h2{
      mix-blend-mode:unset;
    }
  }
}