.section_project{
    padding: rem(200px) 0;
    h2{
        margin-bottom: rem(30);
        
    } 
}

.sticky_box_wrapper{
    border-bottom: 1px solid #000;
    .sticky_box{
        .sticky_box_title{
            display: flex;
            align-items: center;
            padding: 0 rem(20px);
            height: rem(60px);
            justify-content: space-between;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            background: #f5f5f5;
            em{display:block; font-size: rem(30px);}
            .svg_arrow_down{
                width: rem(40px);
                height: rem(40px);
            }
        }
        
        .sticky_box_con{
            padding: rem(50) rem(30px);
            ._top{
                display: flex;
                justify-content: space-between;
                padding-bottom: rem(50px);
                font-size: rem(20px);
                border-bottom: 1px solid #000;
                
                .title_desc{
                    flex-grow: 2.5;
                    h3{
                        margin-bottom: rem(20px);
                        font-size: rem(50px);
                        line-height: 1.3;
                        letter-spacing: -.8px;
                        // font-family: $Abril;
                    }
                    p{
                        line-height: 1.2;
                    }
                    .degree{
                        margin-top: rem(20px);
                        margin-bottom: rem(-15px);
                        display: block;
                        font-size: rem(14px);
                        font-weight: bold;
                        color: #7a7a7a;
                    }
                    ul{
                        padding: rem(20px) rem(8px);
                        li{
                            font-size: rem(18px);
                            &:not(:last-of-type){ margin-bottom: rem(5px)};
                            &:before{
                                content: '✔️';
                                margin-right: rem(10px);
                                font-size: rem(13px);
                            }
                        }
                    }
                }

                .info_list{
                    position: relative;
                    padding-left: rem(40px);
                    flex-grow: 1;

                    &:before{
                        content: '';
                        display: block;
                        @include absolute($l:0);
                        width: 1px;
                        height: 100%;
                        background: #000;
                    }

                    li{
                        margin-bottom: rem(15px);
                        font-size: rem(16px);
                        b{
                            display: block;
                            margin-bottom: rem(3px);
                            color: rgb(122, 122, 122);
                            font-weight: normal;
                            font-family: $Abril;
                            text-transform: uppercase;
                        }

                        &.bx_skill{
                            span{
                                display: inline-block;
                                margin-right: rem(3px);
                                padding: rem(2px) rem(5px);
                                font-size: rem(14px);
                                border: 1px solid #ddd;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }

            ._bottom{
                display: flex;
                justify-content: space-between;
                column-gap: rem(30px);

                padding: rem(30px) rem(20px);

                .prj_text_wrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .prj_text{
                    b{
                        display: inline-block;
                        margin-bottom: rem(8px);
                        font-size: rem(20px);
                        @include textBorder($c:#000);
                        color: #fff;
                        opacity: 0.6;

                        &:after{
                            content: '';
                            display: block;
                            margin-top: rem(-12px);
                            width: calc(100% + 0.5rem);
                            height: rem(10px);
                            background: $pointColor;
                            mix-blend-mode: hard-light;
                            opacity: 0.6;
                        }
                    }
                    p{padding-bottom: rem(6px); font-size: rem(15px); word-break: keep-all;}
                }

                .prj_img_wrap{
                    max-width: 68%;
                    border-left: 1px solid #000;
                    padding: 0 0 0 rem(30px);
                    a{
                        display: block; 
                    }
                    img{ 
                        display: block;
                        width: 100%; 
                        cursor: pointer;
                    }
                }
            }
        }    
    }
}