
.fixed_header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: rem(20px) 0;
  z-index:9;

  .header_content{
    position: relative;
    // padding: rem(10px) 0;
    box-sizing: border-box;
    font-size: rem(18px);
    font-family: $Abril;
  }

}

.btn_menu{
  @include absolute($l:initial, $r:0);
  width: rem(50px);
  height: rem(50px);
  border: none;
  cursor: pointer;
  z-index: 9999;
  background: transparent;

  i{
    display: block;
    margin: rem(10px) auto;
    width: rem(40px); height: rem(3px); border-radius: rem(3px); background-color: #000;
    -webkit-transition: all .6s;
    transition: all .6s;
  }

  // background : url(../../img/ico_menu@3x.png) no-repeat center / 100% transparent;
}

.menu_background_wrap{
  div{ 
    position: absolute; right: 50px; top: 30px; width:50px; height: 50px; border-radius: 100%; opacity: 0;
    &:nth-child(1){background-color: rgb(135 135 135 / 22%); }
    &:nth-child(2){background-color: #79a4c76e; z-index: 2000;}
    &:nth-child(3){background-color: #fffbf3; z-index: 3000;}
  }
}

.menu_wrap{
  &.active{
    // width: 100vw; height: 100vh; 
    overflow: hidden;

    .btn_menu{
      i:nth-of-type(1){ margin: 0.1rem 0 -1.6375rem 0.3625rem; transform: rotate(45deg);}
      i:nth-of-type(2){ width: 0; margin: rem(10px);}
      i:nth-of-type(3){margin: 0.1rem 0 0.1375rem 0.3rem; transform: rotate(-45deg);}
    }
    // .btn_menu{
    //   background-image: url(../../img/ico_close@3x.png);
    //   background-size: 80%;
    // }
  }
}

.gnb{
  position: absolute;
  left: rem(50px); 
  right: rem(50px); 
  top: 15vh;  z-index: 90000;
  li{
    position: relative;
    padding: rem(10px) 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: rem(50px);
    font-family: $Roboto;

    transition: border-color 0.8s;

    span{
      display: block;
      transform: translateX(0);
      color: #000;
      transition: transform 0.3s;
      font-family: $Abril;
      cursor: pointer;
    }

    &:after{
      @include absolute($l:0);
      content: '';
      display: block;
      width: rem(60px);
      height: rem(40px);
      background: url(../../img/right-arrow.png) no-repeat center / 100%;
      opacity: 0;
      transition: margin-right .3s;
    }

    &:hover{
      border-bottom-color: rgba(0,0,0,1) ;

      span{ transform: translateX(rem(80px));}
      &:after{
        opacity: 1;
      }
    }
  }
}


@include mobile{
  .fixed_header{
    padding: rem(10px) 0;
    background: #fff;
    box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);

    .header_content{
      padding: rem(10px) 0;
      height: rem(40px);
      font-size: rem(14px);
    }

  }

  .btn_menu{
    margin-right: rem(-7.5px);
    width: rem(45px);
    height: rem(45px);
  
    i{
      margin: 0.35rem auto;
      width: 1.175rem;
      height: 1.5px; 
    }
  }

  .menu_wrap{
    &.active{
      .btn_menu{
        i:nth-of-type(1){ margin: 0rem 0 -1.21rem 0.7625rem;}
        i:nth-of-type(2){ margin: rem(9px);}
        i:nth-of-type(3){ margin: -0.1rem 0 -0.5625rem 0.75rem}
      }
    }
  }

  .gnb{
    overflow: hidden;
    left: rem(20px); 
    right: rem(20px); 
    li{
      font-size: rem(25px);

      &:after{
        width: rem(40px);
        height: rem(20px);
      }
      &:hover{
        span{ transform: translateX(rem(45px));}
      }
    }
  }
}

@include tablet{
    .fixed_header{
      background: #fff;
      box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);
      -webkit-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);
      -moz-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.05);
  }
}